/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
!.gitattributes
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# Everything generated with optaplanner-training-generator
/optaplanner-training-lab1*
/optaplanner-training-lab901
/optaplanner-training-lab902
